@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --mauve-1: 300 20% 99%;
    --mauve-2: 270 20% 98%;
    --mauve-3: 270 16.7% 95.3%;
    --mauve-4: 264 13.5% 92.7%;
    --mauve-5: 270 12% 90.2%;
    --mauve-6: 265.7 11.1% 87.6%;
    --mauve-7: 255 10% 84.3%;
    --mauve-8: 249.2 10.4% 75.5%;
    --mauve-9: 249.2 6% 57.5%;
    --mauve-10: 250 4.9% 52.2%;
    --mauve-11: 252 4.8% 40.8%;
    --mauve-12: 257.1 10.1% 13.5%;
  }

  .dark {
    --mauve-1: 300 4.2% 9.4%;
    --mauve-2: 300 7.1% 11%;
    --mauve-3: 288 6% 16.3%;
    --mauve-4: 280 6% 19.6%;
    --mauve-5: 280 5.3% 22.4%;
    --mauve-6: 274.3 5.3% 25.7%;
    --mauve-7: 270 5.2% 30.2%;
    --mauve-8: 258 5% 39.2%;
    --mauve-9: 250.9 4.8% 44.9%;
    --mauve-10: 250.9 4.5% 52.4%;
    --mauve-11: 253.3 6% 70.4%;
    --mauve-12: 240 6.2% 93.7%;
  }
}

@layer base {
  ::selection {
    @apply bg-grey-text-contrast text-grey-base;
  }
}
