---
import { Image as AstroImage } from 'astro:assets';

const { image, alt } = Astro.props;
---

<div class='col-span-2 pl-px'>
  <figure
    class:list={[
      'animate relative z-[1] scale-90 grayscale transition-transform',
      'group-hover:scale-100',
    ]}
  >
    <AstroImage
      alt={alt}
      class='bg-grey-bg aspect-video h-full w-full'
      src={image}
    />
  </figure>
</div>
