---
import BlockContent from '~/components/block/block-content.astro';
import BlockTitle from '~/components/block/block-title.astro';
import Block from '~/components/block/block.astro';
import ContactMe from '~/components/contact-me.astro';
import DateLabel from '~/components/date-label.astro';
import DetailBlockContent from '~/components/detail-block/detail-block-content.astro';
import DetailBlockSubtitle from '~/components/detail-block/detail-block-subtitle.astro';
import DetailBlockTitle from '~/components/detail-block/detail-block-title.astro';
import DetailBlock from '~/components/detail-block/detail-block.astro';
import Hero from '~/components/hero.astro';
import { fadeUp } from '~/config/animations';
import Main from '~/layouts/main.astro';
---

<Main
  title='About me'
  description='Learn more about me and my journey as a developer.'
>
  <main>
    <Hero>About me</Hero>

    <Block>
      <BlockTitle>Who I am</BlockTitle>
      <BlockContent>
        <div
          class:list={[
            'bg-grey-base text-grey-text relative space-y-4 p-8',
            fadeUp,
          ]}
        >
          <p>
            Hey there! I’m{' '}
            <span class='text-grey-text-contrast'>Alexis Guzman</span>, a
            passionate developer and entrepreneur based in Mexico. My journey
            began with a curiosity for technology and a drive to create
            impactful digital experiences.
          </p>

          <p>
            As a co-founder of{' '}
            <a
              class='text-grey-text-contrast'
              href='https://www.khutz.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              Khutz
            </a>
            , alongside{' '}
            <a
              class='text-grey-text-contrast'
              href='https://github.com/OscarStrada/'
              target='_blank'
              rel='noopener noreferrer'
            >
              Oscar Arturo
            </a>
            , we led our first big project, Docom, which focused on building a healthcare
            CRM. This experience has fueled my passion for creating helpful solutions
            that enhance experiences.
          </p>

          <p>
            I thrive on exploring new technologies and design trends, constantly
            seeking inspiration to push the boundaries of what’s possible.
            Whether it’s diving into the latest frameworks or experimenting with
            innovative design concepts, I believe that creativity and technology
            go hand in hand. I’m always eager to learn from others and
            collaborate on exciting projects that make a difference.
          </p>
        </div>
      </BlockContent>
    </Block>

    <Block>
      <BlockTitle>Work Experience</BlockTitle>

      <BlockContent>
        <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2'>
          <DateLabel>JUL - NOV 2023</DateLabel>
          <DetailBlock>
            <DetailBlockTitle>Co-Founder</DetailBlockTitle>
            <DetailBlockSubtitle>Docom - Healthcare CRM</DetailBlockSubtitle>

            <DetailBlockContent>
              <p class='text-grey-text text-sm'>
                Led a talented team in developing a healthcare CRM aimed at
                enhancing patient management and communication. Although the
                project didn’t reach completion, it provided invaluable insights
                into product development and the healthcare landscape.
              </p>
            </DetailBlockContent>
          </DetailBlock>
        </div>

        <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2'>
          <DateLabel>JUN 2023 - NOW</DateLabel>
          <DetailBlock>
            <DetailBlockTitle>Co-Founder</DetailBlockTitle>
            <DetailBlockSubtitle>Khutz - Digital Agency</DetailBlockSubtitle>

            <DetailBlockContent>
              <p class='text-grey-text text-sm'>
                I collaborate closely with clients to create tailored solutions
                that not only meet their needs but also elevate their brand
                presence online. My focus is on blending functionality with
                creativity to deliver standout digital experiences.
              </p>
            </DetailBlockContent>
          </DetailBlock>
        </div>
      </BlockContent>
    </Block>

    <Block>
      <BlockTitle>Education</BlockTitle>

      <BlockContent>
        <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2'>
          <DateLabel>DEC 2019 - JAN 2021</DateLabel>
          <DetailBlock>
            <DetailBlockTitle>Full Stack Developer</DetailBlockTitle>
            <DetailBlockSubtitle>Bottega - Bootcamp</DetailBlockSubtitle>

            <DetailBlockContent>
              <p class='text-grey-text text-sm'>
                I developed a strong foundation in web technologies, including
                HTML, CSS, JavaScript, Python, and React. I acquired the tools
                to craft innovative solutions and bring ideas to life.
              </p>
            </DetailBlockContent>
          </DetailBlock>
        </div>
      </BlockContent>
    </Block>

    <ContactMe variant='collapsed' />
  </main>
</Main>
