---
import '~/styles/global.css';
import '@fontsource/geist-sans';
import '@fontsource/geist-mono';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class='bg-grey-base min-h-screen p-2 font-sans antialiased sm:p-4 md:p-6'
  >
    <h1>Astro</h1>
  </body>
</html>
