---
import Main from '~/layouts/main.astro';
---

<Main
  title='Alexis Guzman'
  description='Front-end web wizard who enjoys creating a variety of tools and a continuous dedication to learning and self-development.'
>
  <p>home page</p>
</Main>
