---
import type { Lang } from '~/i18n';
import Link from '~/components/ui/link.astro';
import { useTranslations } from '~/i18n';

const t = useTranslations(Astro.currentLocale as Lang);
const { variant = 'expanded' } = Astro.props;
---

<section
  class:list={[
    'animate relative p-6',
    'sm:p-8',
    variant === 'expanded' ? 'h-[40vh]' : '',
  ]}
>
  <div
    class:list={[
      'gap border-grey-line bg-grey-base flex h-full flex-col justify-center border-2 border-dotted p-4',
      'sm:p-6',
      'md:p-8',
    ]}
  >
    <h4 class:list={['font-serif text-xl', 'sm:text-2xl', 'md:text-3xl']}>
      {t({ en: 'Let’s work together', es: 'Trabajemos juntos' })}
    </h4>
    <p class:list={['text-grey-text text-sm', 'sm:text-base']}>
      {
        t({
          en: 'If you have any questions, opportunities or would just like to say hello, then feel free to send me a DM',
          es: 'Si tienes alguna pregunta, oportunidades o simplemente quieres saludarme, no dudes en enviarme un DM.',
        })
      }
      (<Link
        isExternal
        class:list={[
          'text-grey-text-contrast inline-block text-sm',
          'sm:text-base',
        ]}
        href='https://dm.new/codingcodax'
      >
        X
      </Link>{' '}
      {t({ en: 'or', es: 'o' })}
      <Link
        isExternal
        class:list={[
          'text-grey-text-contrast inline-block text-sm',
          'sm:text-base',
        ]}
        href='https://www.linkedin.com/in/codingcodax'
      >
        LinkedIn
      </Link>)
      {
        t({
          en: 'or if you prefer, you can',
          es: 'o, si prefieres, puedes enviarme un',
        })
      }
      <Link
        isExternal
        class:list={['text-grey-text-contrast text-sm', 'sm:text-base']}
        href='mailto:codingcodax@gmail.com'
      >
        {t({ en: 'email me', es: 'email' })}
      </Link>
      .
    </p>
  </div>
</section>
