---
const currentYear = new Date().getFullYear();
---

<footer
  class='mx-auto flex h-[68px] w-full max-w-screen-lg items-center justify-between px-8'
>
  <p class='text-grey-text text-sm'>
    &copy;{currentYear} &mdash; Alexis Guzman
  </p>

  <div></div>

  <ul class='flex gap-2'>
    <li>
      <a
        class='text-grey-text text-sm'
        href='https://github.com/codingcodax'
        target='_blank'
        rel='noopener noreferrer'
      >
        GitHub
      </a>
    </li>

    <li>
      <a
        class='text-grey-text text-sm'
        href='https://www.linkedin.com/in/codingcodax'
        target='_blank'
        rel='noopener noreferrer'
      >
        LinkedIn
      </a>
    </li>

    <li>
      <a
        class='text-grey-text text-sm'
        href='https://x.com/codingcodax'
        target='_blank'
        rel='noopener noreferrer'
      >
        X
      </a>
    </li>
  </ul>
</footer>
