---
import { fadeUp } from '~/config/animations';
---

<div
  class='border-grey-line bg-grey-base relative flex min-h-[50vh] items-center justify-center border-b'
>
  <div class:list={['border-grey-line border px-8 py-4', fadeUp]}>
    <h1
      class='w-fit text-center font-serif text-4xl font-bold sm:text-5xl md:text-6xl'
    >
      <slot />
    </h1>
  </div>
</div>
