---
import type { Lang } from '~/i18n';
import { HOME_DESCRIPTION } from '~/config/consts';
import { useTranslations } from '~/i18n';
import Image from './image.astro';

const t = useTranslations(Astro.currentLocale as Lang);
---

<div
  class='border-grey-line bg-grey-base relative flex min-h-[50vh] flex-col items-center justify-center border-b px-2 pt-8 pb-4'
>
  <Image />

  <main class='mt-6 flex flex-col items-center justify-center text-center'>
    <h1
      class:list={[
        'animate font-serif text-4xl font-bold',
        'sm:text-5xl',
        'md:text-6xl',
      ]}
    >
      {t({ en: "Hi, I'm Alexis", es: 'Hola, soy Alexis' })}
    </h1>
    <h2 class:list={['text-md text-grey-text animate max-w-lg', 'sm:text-lg']}>
      {t(HOME_DESCRIPTION)}
    </h2>
  </main>
</div>
